In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('coursera.csv')

In [3]:
df.head()

                                         Course Name  ...              Sub-Domain
0  Write A Feature Length Screenplay For Film Or ...  ...           music-and-art
1  Business Strategy: Business Model Canvas Analy...  ...       business-strategy
2                      Silicon Thin Film Solar Cells  ...  electrical-engineering
3  Anatomy of the Abdomen and Pelvis; a journey f...  ...           basic-science
4                               Finance for Managers  ...                 finance

[5 rows x 10 columns]

In [4]:
df.isnull().sum()

Course Name                           0
University / Industry Partner Name    0
Difficulty Level                      0
Average Hours                         0
Course Rating                         0
Course URL                            0
Course Description                    0
Skills Learned                        0
Domain                                0
Sub-Domain                            0
dtype: int64

In [5]:
df.shape

(3662, 10)

In [6]:
df.columns

Index(['Course Name', 'University / Industry Partner Name', 'Difficulty Level',
       'Average Hours', 'Course Rating', 'Course URL', 'Course Description',
       'Skills Learned', 'Domain', 'Sub-Domain'],
      dtype='object')

In [7]:
df.dropna(axis=0, how='any',inplace=True)

In [8]:
df.isnull().sum()

Course Name                           0
University / Industry Partner Name    0
Difficulty Level                      0
Average Hours                         0
Course Rating                         0
Course URL                            0
Course Description                    0
Skills Learned                        0
Domain                                0
Sub-Domain                            0
dtype: int64

In [9]:
df.shape

(3662, 10)

In [10]:
difficulty_level = input('Enter difficulty level: ')
skill = input('Enter skill: ')

Enter difficulty level: Beginner
Enter skill: data analysis

In [11]:
df_short = df.loc[df['Difficulty Level']==difficulty_level,:]

In [12]:
df_short['skill_domain'] = df_short['Skills Learned'] + ' ' + df_short['Domain'] + ' ' + df_short['Sub-Domain']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df_short['index'] = np.arange(0, df_short.shape[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
def remove_punctuation(skilldomain):
  skilldomain = skilldomain.replace(';','')
  skilldomain = skilldomain.replace('-','')
  return skilldomain

df_short['skill_domain']=df_short['skill_domain'].apply(remove_punctuation)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df_short

                                            Course Name  ... index
0     Write A Feature Length Screenplay For Film Or ...  ...     0
1     Business Strategy: Business Model Canvas Analy...  ...     1
3     Anatomy of the Abdomen and Pelvis; a journey f...  ...     2
6          Retrieve Data using Single-Table SQL Queries  ...     3
7     Building Test Automation Framework using Selen...  ...     4
...                                                 ...  ...   ...
3650             Visual Perception and Visual Illusions  ...  1503
3651  Mining Data to Extract and Visualize Insights ...  ...  1504
3655  Scalable Machine Learning on Big Data using Ap...  ...  1505
3656  Capstone: Retrieving, Processing, and Visualiz...  ...  1506
3659                                Rigid Body Dynamics  ...  1507

[1508 rows x 12 columns]

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer() 
count_matrix = cv.fit_transform(df_short['skill_domain'])

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(count_matrix)

In [18]:
def title_from_index(index):
  return df_short[df_short['index'] == index]['Course Name'].values[0]
def index_from_title(title):
  return df_short[df_short['Course Name'] == title]['index'].values[0]

In [19]:
course_previous = input('Enter course previously done: ')
course_index = index_from_title(course_previous)
similar_courses = list(enumerate(cosine_sim[course_index]))

Enter course previously done: Retrieve Data using Single-Table SQL Queries

In [20]:
sorted_similar_courses = sorted(similar_courses,key=lambda x:x[1],reverse=True)[1:]

In [21]:
i=0
print("Top 5 similar courses to "+course_previous+" are:\n")
for element in sorted_similar_courses:
  print(title_from_index(element[0]))
  i=i+1
  if i>5:
      break

Top 5 similar courses to Retrieve Data using Single-Table SQL Queries are:

Manipulating Data with SQL
Creating Database Tables with SQL
Create Relational Database Tables Using SQLiteStudio
Managing Big Data with MySQL
Retrieve Data with Multiple-Table SQL Queries
Database Design and Diagramming in Dia